{% extends "conf_room/base.html" %}
{% load crispy_forms_tags %}
{% load extras %}
{% block content %}
    <main role="main" class="container">
    <div class="row">
        <div class="col-md-8">
            {% if messages %}
                {% for message in messages %}
                    <div class="alert alert-{{ message.tags }}">{{ message }}</div>
                {% endfor %}
            {% endif %}
            <div class="content-section">
            <label>Wyszukiwanie</label>
                <form method="post">
                    {% csrf_token %}
                    <fieldset class="form-group">
                        {{ form|crispy }}
                    </fieldset>
                    <div class="form-group">
                        <button class="btn btn-outline-info" type="submit">Submit</button>
                    </div>
                </form><br><br>
                <label><h3>Lista sal</h3></label>
                <table cellpadding="5" cellspacing="5" border="1">
                    <tr>
                        <th>Nazwa</th>
                        <th>Status</th>
                        <th>Edycja</th>
                        <th>Usuń</th>
                    </tr>
                    {% for room in rooms %}
                        <tr>
                            <td><a href="{% url 'room-details' room.id %}">{{ room.name}}</a></td>
                            <td>{{ room.id|reserv_today }}</td>
                            <td><a href="{% url 'room-modify' room.id %}">edycja</a></td>
                            <td><a href="{% url 'room-delete' room.id %}">usuń</a></td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
    </div>
</main>

{% endblock content %}