{% extends "conf_room/room_nav.html" %}
{% load static %}
{% load extras %}
{% load crispy_forms_tags %}
{% block content %}
        <div class="content-section">
        <div class="media">
            <div class="media-body">
                <h2 class="account-heading">{{ room_det.name }}
                    <a href="{% url 'room-modify' room_det.id %}" class="small">edytuj</a> </h2>
                <p class="text-secondary">Pojemność sali: {{ room_det.capacity }}</p><br>
                <p class="text-secondary">Rzutnik: {{ room_det|change_bool }}<br>
                Telewizor:{{ room_det.tv|change_bool }}<br>
                 Klimatyzacja:{{ room_det|change_bool }}<br></p>
                <a href="{% url 'room-reserv' room_det.id %}">Rezerwacja sali</a>
            </div>
        </div>
    </div>
{% endblock content %}

