{% extends "conf_room/base.html" %}
{% block navbar %}
<main role="main" class="container">
    <div class="row">
        <div class="col-md-4">
        <h3>Sale</h3>
            <div class="content-section">
                <p>
                    <ul class="list-group">
                        {% for room in rooms %}
                        <li class="list-group-item list-group-item-light"><a href="{% url 'room-details' room.id %}">{{ room.name }}</a></li>
                        {% endfor %}
                    </ul>
                </p>
            </div>
        </div>


        <div class="col-md-8">
            {% if messages %}
                {% for message in messages %}
                    <div class="alert alert-{{ message.tags }}">{{ message }}</div>
                {% endfor %}
            {% endif %}

            {% block content %}{% endblock %}
        </div>
    </div>
</main>
{% endblock navbar %}