{% extends "conf_room/base.html" %}
{% block navbar %}
<main role="main" class="container">
    <div class="row">
        <div class="col-md-4">
            <div class="content-section">
            <h3>Osoby <a href="#" class="small text-secondary">dodaj</a></h3>
                <p>
                    <ul class="list-group">

                        <li class="list-group-item list-group-item-light"><a href="#"></a></li>

                    </ul>
                </p>
            </div>
        </div>


        <div class="col-md-8">
            {% if messages %}
                {% for message in messages %}
                    <div class="alert alert-{{ message.tags }}">{{ message }}</div>
                {% endfor %}
            {% endif %}

            {% block content %}{% endblock %}
        </div>
    </div>
</main>
{% endblock navbar %}